<ng-container *ngIf="displayInfoMessage && running">
  <p>
    {{"The app is currently downloading all your data, this might take a while depending on the amount of data you have stored." | translate}}
  </p>
  <p *ngIf="total" [innerText]="'Downloaded: {{downloaded}} of {{total}} items.' | translate:{downloaded: downloaded, total: total}"></p>
  <p *ngIf="total" [innerText]="'Decrypting: {{processing}} of {{total}} items ({{finished}} finished).' | translate:{processing: processing, total: total, finished: processed}"></p>
</ng-container>
<mat-error *ngIf="displayInfoMessage && running && !wakeLockSupported">
  {{"Your device doesn't support keeping the screen awake, your screen might lock." | translate}}
  {{"Please make sure your screen doesn't lock during the refresh as the data might not be downloaded correctly." | translate}}
</mat-error>
<mat-spinner class="global"></mat-spinner>
