mat-card {
  margin-top: 1vh;
}

mat-form-field {
  width: 100%;
  margin-bottom: 1vh;
}

.notes {
  margin-top: 2vh;
}

.save-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1vh;
}

.center {
  text-align: center;
}
