<mat-card>
  <mat-card-header>
    <mat-card-title>{{"General information" | translate}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{"This plugin allows ChatGPT to fetch your data on your behalf." | translate}}
    </p>
    <p>
      <strong>{{"Note that for this to work we need to save your private keys in our database which means that in theory we can access your data (though we will never do that, we promise)." | translate}}</strong>
    </p>
    <p>
      <strong>{{"Another important thing to note is that the provider of ChatGPT may store your data according to their privacy policy, please make sure you're okay with that as well." | translate}}</strong>
    </p>
    <p>
      {{"You may also read our privacy policy in the left sidebar, but long story short: we don't read your data (except in cases which concern the ChatGPT plugin where we can't really technically do it any other way) and we don't want to read your data." | translate}}
    </p>
  </mat-card-content>
</mat-card>
