<mat-spinner class="global" *ngIf="loading else content"></mat-spinner>

<ng-template #content>
  <form [formGroup]="form" (submit)="addChild()">
    <mat-form-field>
      <mat-label>{{"Name" | translate}}</mat-label>
      <mat-hint>{{"(optional)" | translate}}</mat-hint>
      <input matInput formControlName="name"/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{"Gender" | translate}}</mat-label>
      <mat-hint>{{"(optional)" | translate}}</mat-hint>
      <mat-select formControlName="gender">
        <mat-option>{{"None" | translate}}</mat-option>
        <mat-option [value]="Gender.Male">{{"Boy" | translate}}</mat-option>
        <mat-option [value]="Gender.Female">{{"Girl" | translate}}</mat-option>
        <mat-option [value]="Gender.Other">{{"Other" | translate}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{"Birth date" | translate}}</mat-label>
      <mat-hint>{{"(optional)" | translate}}</mat-hint>
      <mat-datepicker #birthDatePicker [touchUi]="isMobile | async"></mat-datepicker>
      <mat-datepicker-toggle matIconSuffix [for]="birthDatePicker"></mat-datepicker-toggle>
      <input matInput [matDatepicker]="birthDatePicker" readonly formControlName="birthDay" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{"Weight" | translate}} (g)</mat-label>
      <mat-hint>{{"(optional)" | translate}}</mat-hint>
      <input type="number" matInput min="0" formControlName="birthWeight" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{"Length" | translate}} (cm)</mat-label>
      <mat-hint>{{"(optional)" | translate}}</mat-hint>
      <input type="number" matInput min="0" formControlName="birthLength" />
    </mat-form-field>

    <button class="submit" mat-raised-button color="primary">Add child</button>
  </form>
</ng-template>
