<mat-list>
  <mat-list-item [lines]="3">
    <a routerLink="/settings/general">
      <h4 matListItemTitle>{{"General" | translate}}</h4>
      <p class="small">{{"Language, units and other general settings." | translate}}</p>
    </a>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item [lines]="3">
    <a routerLink="/settings/activities">
      <h4 matListItemTitle>{{"Activities" | translate}}</h4>
      <p class="small">{{"Various settings to fine-tune activity tracking." | translate}}</p>
    </a>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item [lines]="3">
    <a routerLink="/settings/account">
      <h4 matListItemTitle>{{"Account" | translate}}</h4>
      <p class="small">{{"Exporting account, inviting others etc." | translate}}</p>
    </a>
  </mat-list-item>
<!--  <mat-divider></mat-divider>-->
<!--  <mat-list-item [lines]="3">-->
<!--    <a routerLink="/settings/advanced">-->
<!--      <h4 matListItemTitle>{{"Advanced" | translate}}</h4>-->
<!--      <p class="small">{{"Setting custom api url etc." | translate}}</p>-->
<!--    </a>-->
<!--  </mat-list-item>-->
</mat-list>
