.small {
  font-size: 0.8rem;
}

h4 {
  font-size: 1.1rem;
}

a {
  color: white;
  text-decoration: none;
}

mat-list-item {
  margin-top: -1.5vh;
  margin-bottom: 1.5vh;
  p {
    padding-top: 1vh;
  }
}
