<mat-grid-list cols="2" gutterSize="10">
  <a [routerLink]="activity.link" *ngFor="let activity of activities" class="activity-tile">
    <mat-grid-tile [style.background-color]="activity.color">
      {{activity.displayName | async}}
      <mat-grid-tile-footer *ngIf="(activity.isRunning | async) || (activity.lastActivityAt | async | dateDiff)">
          <span>
            <ng-container *ngIf="activity.lastActivityAt | async | dateDiff; let dateDiff">
              {{dateDiff | secondsToDurationString:'short' | async}}
            </ng-container>
          </span>
        <mat-icon color="accent" *ngIf="activity.isRunning | async">hourglass_top</mat-icon>
      </mat-grid-tile-footer>
    </mat-grid-tile>
  </a>
</mat-grid-list>

<mat-card *ngIf="dates.length && activities.length; else loader">
  <mat-card-header>
    <mat-card-title>{{"Activities" | translate}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div *ngFor="let date of dates">
      <strong class="center">{{date | relativeDate | async | uppercaseFirst}}</strong>
      <app-activity-event *ngFor="let activity of activityStream[date]" [activity]="activity"></app-activity-event>
    </div>
  </mat-card-content>
</mat-card>

<ng-template #loader>
  <mat-spinner class="global"></mat-spinner>
</ng-template>
