<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset | async) ? 'over' : 'side'"
               [opened]="(isHandset | async) === false"
  >
    <mat-nav-list>
      <ng-container *ngIf="!(isLoggedIn | async); else menu">
        <p class="please-login">{{"Please log in first" | translate}}</p>
      </ng-container>
      <ng-template #menu>
        <a mat-list-item routerLink="/" (click)="drawer.toggle(false)">{{"Home" | translate}}</a>
        <a mat-list-item routerLink="/children/select-child" (click)="drawer.toggle(false)">{{"Your children" | translate}}</a>
        <a mat-list-item routerLink="/settings" (click)="drawer.toggle(false)">{{"Settings" | translate}}</a>
        <a mat-list-item routerLink="/auth/logout" (click)="drawer.toggle(false)">{{"Logout" | translate}}</a>
      </ng-template>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span [innerText]="title | async"></span>
    </mat-toolbar>
    <div class="wrapper">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
