<mat-spinner class="global" *ngIf="loading else content"></mat-spinner>

<ng-template #content>
  <div class="buttons" *ngIf="step === null">
    <button mat-raised-button color="primary" (click)="step = 'create'">{{"Create new account" | translate}}</button>
    <button mat-raised-button color="primary" (click)="step = 'restore'">{{"Restore account" | translate}}</button>
    <button mat-raised-button color="accent" (click)="step = 'invitationCode'">{{"Use invitation code" | translate}}</button>
    <button mat-raised-button color="accent">{{"Advanced" | translate}}</button>
  </div>

  <div *ngIf="step === 'create'">
    <form [formGroup]="createForm" (submit)="register()">
      <mat-form-field>
        <mat-label>{{"Your name" | translate}}</mat-label>
        <input matInput formControlName="name" />
        <mat-hint>{{"(optional)" | translate}}</mat-hint>
      </mat-form-field>

      <mat-form-field *ngIf="!createForm.controls.parentalUnitId.value">
        <mat-label>{{"Family name" | translate}}</mat-label>
        <input matInput formControlName="familyName" />
        <mat-hint>{{"(optional)" | translate}}</mat-hint>
      </mat-form-field>

      <button class="submit" mat-raised-button color="primary">{{"Create account" | translate}}</button>
    </form>
  </div>

  <div *ngIf="step === 'restore'">
    <form [formGroup]="loginFromCodeForm" (submit)="restore()">
      <p>{{"Please provide the account code you exported from the app earlier." | translate}}</p>

      <mat-error *ngIf="codeLoginError !== null">
        {{codeLoginError | async}}
      </mat-error>

      <mat-form-field>
        <mat-label>{{"Account code" | translate}}</mat-label>
        <textarea matInput formControlName="code"></textarea>
        <mat-error *ngIf="true">
          {{"This field is required." | translate}}
        </mat-error>
      </mat-form-field>

      <button class="submit" mat-raised-button color="primary">{{"Restore account" | translate}}</button>
    </form>
  </div>

  <div *ngIf="step === 'invitationCode'">
    <form [formGroup]="loginFromCodeForm" (submit)="loginFromInvite()">
      <p>{{"Please provide the invitation code you received." | translate}}</p>

      <mat-error *ngIf="codeLoginError !== null">
        {{codeLoginError | async}}
      </mat-error>

      <mat-form-field>
        <mat-label>{{"Invitation code" | translate}}</mat-label>
        <textarea matInput formControlName="code"></textarea>
        <mat-error *ngIf="true">
          {{"This field is required." | translate}}
        </mat-error>
      </mat-form-field>

      <button class="submit" mat-raised-button color="primary">{{"Create account" | translate}}</button>
    </form>
  </div>
</ng-template>
