<mat-list>
  <form [formGroup]="settingsForm">
    <mat-list-item [lines]="3" *ngIf="languageNames !== null">
      <mat-form-field>
        <mat-label matListItemTitle>{{"Language" | translate}}</mat-label>
        <mat-select formControlName="language">
          <mat-option *ngFor="let language of AppLanguage | keyvalue" [value]="language.value">
            {{languageNames[language.value] | uppercaseFirst}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-list-item>
    <div>
      <mat-checkbox formControlName="offlineMode">{{"Forbid the app from connecting to the server (offline mode)" | translate}}</mat-checkbox>
    </div>
  </form>
</mat-list>
