<!--<mat-list>-->
<!--  <form [formGroup]="settingsForm">-->
<!--    <mat-list-item [lines]="3" *ngIf="languageNames !== null">-->
<!--      <mat-form-field>-->
<!--        <mat-label matListItemTitle>{{"Language" | translate}}</mat-label>-->
<!--        <mat-select formControlName="language">-->
<!--          <mat-option *ngFor="let language of AppLanguage | keyvalue" [value]="language.value">-->
<!--            {{languageNames[language.value] | uppercaseFirst}}-->
<!--          </mat-option>-->
<!--        </mat-select>-->
<!--      </mat-form-field>-->
<!--    </mat-list-item>-->
<!--  </form>-->
<!--</mat-list>-->

<form [formGroup]="settingsForm" (submit)="save()">
  <!-- Language -->
  <mat-card *ngIf="languageNames !== null">
    <mat-card-header>
      <mat-card-title>{{"Language" | translate}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <mat-label>{{"Language" | translate}}</mat-label>
        <mat-select formControlName="language">
          <mat-option *ngFor="let language of AppLanguage | keyvalue" [value]="language.value">
            {{languageNames[language.value] | uppercaseFirst}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
  </mat-card>
  <!-- Units -->
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{"Units" | translate}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field *ngIf="weightUnits !== null">
        <mat-label>{{"Weight units" | translate}}</mat-label>
        <mat-select formControlName="weightUnit">
          <mat-option *ngFor="let option of weightUnits | keyvalue" [value]="option.key">
            {{option.value.names.join(' ' + ('and' | translate) + ' ')}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngIf="volumeUnits !== null">
        <mat-label>{{"Volume units" | translate}}</mat-label>
        <mat-select formControlName="volumeUnit">
          <mat-option *ngFor="let option of volumeUnits | keyvalue" [value]="option.key">
            {{option.value.names.join(' ' + ('and' | translate) + ' ')}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngIf="temperatureUnits !== null">
        <mat-label>{{"Temperature units" | translate}}</mat-label>
        <mat-select formControlName="temperatureUnit">
          <mat-option *ngFor="let option of temperatureUnits | keyvalue" [value]="option.key">
            {{option.value.names.join(' ' + ('and' | translate) + ' ')}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      @if (lengthUnits !== null) {
        <mat-form-field>
          <mat-label>{{"Length units" | translate}}</mat-label>
          <mat-select formControlName="lengthUnit">
            @for (option of lengthUnits | keyvalue; track option.key) {
              <mat-option [value]="option.key">
                {{option.value.names.join(' ' + ('and' | translate) + ' ')}}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
      }
    </mat-card-content>
  </mat-card>
  <button class="right-corner-fab" mat-fab color="primary" [class.success]="saved">
    <mat-icon *ngIf="!saved">save</mat-icon>
    <mat-icon *ngIf="saved">done</mat-icon>
  </button>
</form>
