<mat-spinner class="global" *ngIf="loading else content"></mat-spinner>
<ng-template #content>
  <ng-container *ngFor="let child of children">
    <mat-card>
      <mat-card-content>
        <div class="top-row">
          <h2>{{child.attributes.displayName | potentiallyEncryptedValue}}</h2>
          <button mat-icon-button color="warn" (click)="confirmDelete(child)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        <button
          *ngIf="child.id !== currentlySelected?.id; else activeChild"
          mat-raised-button
          color="primary"
          (click)="setAsActive(child)"
        >{{"Select child" | translate}}</button>
        <ng-template #activeChild>
          <button mat-raised-button disabled>{{"(currently selected)" | translate}}</button>
        </ng-template>
      </mat-card-content>
    </mat-card>
    <mat-divider></mat-divider>
  </ng-container>
  <a class="right-corner-fab" mat-fab color="primary" routerLink="/children/add">
    <mat-icon>add</mat-icon>
  </a>
</ng-template>
