.activity-tile {
  color: white;
  font-size: 1.3rem;
}

mat-grid-tile-footer {
  display: flex;
  justify-content: space-between;

  mat-icon {
    font-size: 1.5rem;
  }
}

mat-grid-list {
  margin-bottom: 2vh;
}

mat-grid-tile {
  background-color: var(--bg-color);
}
