<mat-spinner class="global" *ngIf="loading else content"></mat-spinner>

<ng-template #content>
  <mat-tab-group selectedIndex="{{feedingTypeIndex}}" (selectedTabChange)="saveSelectedTab($event)">
    <mat-tab label="{{'Bottle' | translate}}">
      <form [formGroup]="bottleForm" (submit)="saveBottleData(bottleTracker)">
        <mat-card>
          <mat-card-content>
            <mat-error class="center" *ngIf="bottleErrorMessage | async">
              {{bottleErrorMessage | async}}
            </mat-error>

            <app-tracker
              [startTime]="bottleForm.controls.startTime.value"
              [endTime]="bottleForm.controls.endTime.value"
              (finished)="onBottleTrackingFinished($event)"
              (started)="onBottleTrackingStarted($event)"
              (startDateChanged)="onBottleTrackingStarted($event)"
              #bottleTracker
            ></app-tracker>

            <mat-form-field class="notes">
              <mat-label>{{"Notes" | translate}}</mat-label>
              <input matInput formControlName="notes" />
            </mat-form-field>

            <div class="drinking-label">
              {{"Drinking" | translate}}
              <mat-form-field class="amount-input">
                <input type="text" matInput formControlName="amount" inputmode="numeric" />
              </mat-form-field>
              <span [innerText]="' ' + ('{{unit}} of' | translate:{unit: 'ml'}) + ' '"></span>
              <mat-form-field class="content-type-input">
                <mat-select formControlName="contentType">
                  <mat-option [value]="BottleContentType.BreastMilk">{{bottleContentTypeToString(BottleContentType.BreastMilk) | async}}</mat-option>
                  <mat-option [value]="BottleContentType.Formula">{{bottleContentTypeToString(BottleContentType.Formula) | async}}</mat-option>
                  <mat-option [value]="BottleContentType.Water">{{bottleContentTypeToString(BottleContentType.Water) | async}}</mat-option>
                  <mat-option [value]="BottleContentType.Juice">{{bottleContentTypeToString(BottleContentType.Juice) | async}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <button class="save-button" mat-raised-button color="primary" type="submit">{{"Save" | translate}}</button>
          </mat-card-content>
        </mat-card>
      </form>
    </mat-tab>
    <mat-tab label="{{'Nursing' | translate}}">
      <mat-tab-group selectedIndex="{{breastIndex}}" (selectedTabChange)="saveSelectedBreast($event)">
        <mat-tab label="{{'Left breast' | translate}}">
          <mat-card>
            <mat-card-content>
              <mat-error class="center" *ngIf="leftBreastNursingErrorMessage | async">
                {{leftBreastNursingErrorMessage | async}}
              </mat-error>
              <form [formGroup]="leftBreastForm" (submit)="saveBreastData(leftBreastTracker, BreastIndex.Left)">
                <app-tracker
                  [startTime]="leftBreastForm.controls.startTime.value"
                  [endTime]="leftBreastForm.controls.endTime.value"
                  (finished)="onBreastTrackingFinished($event, BreastIndex.Left)"
                  (started)="onBreastTrackingStarted($event, BreastIndex.Left)"
                  (startDateChanged)="onBreastTrackingStarted($event, BreastIndex.Left)"
                  #leftBreastTracker></app-tracker>
                <mat-form-field class="notes">
                  <mat-label>{{"Notes" | translate}}</mat-label>
                  <input matInput formControlName="notes" />
                </mat-form-field>
                <button class="save-button" mat-raised-button color="primary" type="submit">{{"Save" | translate}}</button>
              </form>
            </mat-card-content>
          </mat-card>
        </mat-tab>
        <mat-tab label="{{'Right breast' | translate}}">
          <mat-card>
            <mat-card-content>
              <mat-error class="center" *ngIf="rightBreastNursingErrorMessage | async">
                {{rightBreastNursingErrorMessage | async}}
              </mat-error>
              <form [formGroup]="rightBreastForm" (submit)="saveBreastData(rightBreastTracker, BreastIndex.Right)">
                <app-tracker
                  [startTime]="rightBreastForm.controls.startTime.value"
                  [endTime]="rightBreastForm.controls.endTime.value"
                  (finished)="onBreastTrackingFinished($event, BreastIndex.Right)"
                  (started)="onBreastTrackingStarted($event, BreastIndex.Right)"
                  (startDateChanged)="onBreastTrackingStarted($event, BreastIndex.Right)"
                  #rightBreastTracker></app-tracker>
                <mat-form-field class="notes">
                  <mat-label>{{"Notes" | translate}}</mat-label>
                  <input matInput formControlName="notes" />
                </mat-form-field>
                <button class="save-button" mat-raised-button color="primary" type="submit">{{"Save" | translate}}</button>
              </form>
            </mat-card-content>
          </mat-card>
        </mat-tab>
      </mat-tab-group>
    </mat-tab>
    <mat-tab label="{{'Solid' | translate}}"></mat-tab>
  </mat-tab-group>
</ng-template>
