<mat-spinner class="global" *ngIf="loading else content"></mat-spinner>

<ng-template #content>
  <form [formGroup]="changeDateForm">
    <mat-form-field>
      <mat-label>{{'Date' | translate}}</mat-label>
      <mat-datepicker #datePicker [touchUi]="isHandset | async"></mat-datepicker>
      <mat-datepicker-toggle matIconSuffix [for]="datePicker"></mat-datepicker-toggle>
      <input matInput formControlName="date" [matDatepicker]="datePicker" [matDatepickerFilter]="datePickerFilter"/>
    </mat-form-field>
  </form>
  <mat-tab-group>
    <mat-tab label="{{'Event list' | translate}}">
      <mat-card>
        <mat-card-header class="center">
          <mat-card-title>{{changeDateForm.controls.date.value | relativeDate | async | uppercaseFirst}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <ng-container *ngIf="filteredActivityStream.length else noActivities">
            <ng-container *ngFor="let activity of filteredActivityStream; let last = last">
              <app-activity-event [activity]="activity"></app-activity-event>
              <mat-divider *ngIf="!last"></mat-divider>
            </ng-container>
          </ng-container>
          <ng-template #noActivities>
            <p class="center">{{"There are no events." | translate}}</p>
          </ng-template>
        </mat-card-content>
      </mat-card>
    </mat-tab>
    <mat-tab label="{{'By category' | translate}}">
      <!-- Measurements -->
      <mat-card *ngIf="hasAnyMeasurements">
        <mat-card-header>
          <mat-card-title>{{"Measurements" | translate}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-divider></mat-divider>
          <ng-container *ngIf="currentMeasurements.weight.value">
            <p [innerText]="('{{childName}} weighs {{amount}}' | translate: {
              dateDescription: changeDateForm.controls.date.value | relativeDate:true | async,
              childName: childName | async,
              amount: currentMeasurements.weight.value | convertWeight | unitToString | async,
             }) + (currentMeasurements.weight.date ? ' (' + (currentMeasurements.weight.date! | relativeDate | async) + ')' : '') + ('.')"
            ></p>
            <mat-divider></mat-divider>
          </ng-container>
          <ng-container *ngIf="currentMeasurements.length.value">
            <p [innerText]="('{{childName}}\'s length is {{amount}}{{unit}}' | translate: {
              dateDescription: changeDateForm.controls.date.value | relativeDate:true | async,
              childName: childName | async,
              amount: currentMeasurements.length.value,
              unit: 'cm'
             }) + (currentMeasurements.length.date ? ' (' + (currentMeasurements.length.date! | relativeDate | async) + ')' : '') + ('.')"
            ></p>
            <mat-divider></mat-divider>
          </ng-container>
        </mat-card-content>
      </mat-card>
      <!-- Feeding -->
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{"Feeding" | translate}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-divider></mat-divider>
          <ng-container *ngIf="summary.feeding.total.bottle else noBottle">
            <p
              [innerHTML]="'{{dateDescription}} {{childName}} drank <strong>{{totalAmount}}</strong> from bottle.' | translate:{
              dateDescription: changeDateForm.controls.date.value | relativeDate:true | async,
              childName: childName | async,
              totalAmount: summary.feeding.total.bottle | convertVolume | unitToString | async,
            }"
            ></p>
            <ng-container *ngFor="let type of summary.feeding.bottle | keyvalue">
              <p
                *ngIf="type.value"
                [innerHTML]="'<strong>{{amount}}</strong> of that was {{type}}.' | translate: {
                amount: $any(type.value) | convertVolume | unitToString | async,
                type: bottleContentTypeToString($any(type.key)) | async,
              }"
              ></p>
            </ng-container>
          </ng-container>
          <ng-template #noBottle>
            <p
              [innerHTML]="'{{dateDescription}} {{childName}} didn\'t drink anything from bottle.' | translate:{
                dateDescription: changeDateForm.controls.date.value | relativeDate:true | async,
                childName: childName | async,
              }"
            ></p>
            <small
              *ngIf="isDateBeforeChildBirth === true"
              [innerText]="'(which is not that surprising given the fact that {{childName}} wasn\'t born yet)' | translate:{childName: childName | async}"
            ></small>
          </ng-template>
          <mat-divider></mat-divider>
          <ng-container *ngIf="summary.feeding.total.nursing else noNursing">
            <p
              [innerHTML]="'{{dateDescription}} {{childName}} was nursed for <strong>{{howLong}}</strong> in total.' | translate:{
              dateDescription: changeDateForm.controls.date.value | relativeDate:true | async,
              childName: childName | async,
              howLong: summary.feeding.total.nursing | secondsToDurationString | async,
            }"
            ></p>
            <ng-container *ngFor="let type of summary.feeding.nursing | keyvalue">
              <p
                *ngIf="type.value"
                [innerHTML]="'<strong>{{howLong}}</strong> of that was from {{sideBreast}}.' | translate: {
                howLong: $any(type.value) | secondsToDurationString | async,
                sideBreast: breastIndexToString(stringNumberToBreastIndex($any(type.key))) | async,
              }"
              ></p>
            </ng-container>
          </ng-container>
          <ng-template #noNursing>
            <p
              [innerHTML]="'{{dateDescription}} {{childName}} wasn\'t nursed.' | translate:{
                dateDescription: changeDateForm.controls.date.value | relativeDate:true | async,
                childName: childName | async,
              }"
            ></p>
          </ng-template>
          <mat-divider></mat-divider>
          <ng-container *ngIf="summary.feeding.total.solid else noSolidFood">
            <p
              [innerHTML]="'{{dateDescription}} {{childName}} ate solid food <strong>{{count}}</strong> times.' | translate:{
              dateDescription: changeDateForm.controls.date.value | relativeDate:true | async,
              childName: childName | async,
              count: summary.feeding.total.solid,
            }"
            ></p>
          </ng-container>
          <ng-template #noSolidFood>
            <p
              [innerHTML]="'{{dateDescription}} {{childName}} didn\'t eat any solid food.' | translate:{
                dateDescription: changeDateForm.controls.date.value | relativeDate:true | async,
                childName: childName | async,
              }"
            ></p>
          </ng-template>
          <mat-divider></mat-divider>
        </mat-card-content>
      </mat-card>
      <!-- Diapers -->
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{"Diapering" | translate}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-divider></mat-divider>
          <p
            *ngIf="!summary.diapering.changes"
            [innerText]="'{{dateDescription}} {{childName}} haven\'t had diaper changed.' | translate: {
              dateDescription: changeDateForm.controls.date.value | relativeDate:true | async,
              childName: childName | async,
            }"
          ></p>
          <ng-container *ngIf="summary.diapering.changes">
            <p [innerHTML]="'{{dateDescription}} {{childName}} had a diaper changed <strong>{{count}} times</strong>.' | translate:{
              dateDescription: changeDateForm.controls.date.value | relativeDate:true | async,
              childName: childName | async,
              count: summary.diapering.changes,
            }"></p>
            <p [innerHTML]="'<strong>{{countWet}}</strong> of those were wet, <strong>{{countPoopy}}</strong> were pooped and <strong>{{countDry}}</strong> were dry.' | translate:{
              countWet: summary.diapering.wet,
              countPoopy: summary.diapering.poopy,
              countDry: summary.diapering.dry,
            }"></p>
          </ng-container>
          <mat-divider></mat-divider>
        </mat-card-content>
      </mat-card>
      <!-- Sleeping -->
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{"Sleeping" | translate}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-divider></mat-divider>
          <p
            *ngIf="!summary.sleeping"
            [innerText]="'{{dateDescription}} {{childName}} haven\'t slept.' | translate: {
              dateDescription: changeDateForm.controls.date.value | relativeDate:true | async,
              childName: childName | async,
            }"
          ></p>
          <p
            *ngIf="summary.sleeping"
            [innerHTML]="'{{dateDescription}} {{childName}} has slept for <strong>{{howLong}}</strong>.' | translate:{
              dateDescription: changeDateForm.controls.date.value | relativeDate:true | async,
              childName: childName | async,
              howLong: summary.sleeping | secondsToDurationString | async,
            }"
          ></p>
          <mat-divider></mat-divider>
        </mat-card-content>
      </mat-card>
      <!-- Medical -->
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{"Health" | translate}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-divider></mat-divider>
          <p
            *ngIf="summary.temperature.max <= 0 else temperatureSummary"
            [innerText]="'{{dateDescription}} {{childName}} doesn\'t have any health related activities.' | translate: {
              dateDescription: changeDateForm.controls.date.value | relativeDate:true | async,
              childName: childName | async,
            }"
          ></p>
          <ng-template #temperatureSummary>
            <p
              [innerHTML]="'{{dateDescription}} {{childName}} has had temperature taken, the lowest was {{min}} and the highest was {{max}}.' | translate: {
                dateDescription: changeDateForm.controls.date.value | relativeDate:true | async,
                childName: childName | async,
                min: summary.temperature.min | convertTemperature | unitToString | async,
                max: summary.temperature.max | convertTemperature | unitToString | async
              }"
            ></p>
          </ng-template>
          <mat-divider></mat-divider>
        </mat-card-content>
      </mat-card>
      <!-- Pumping -->
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{"Pumping" | translate}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-divider></mat-divider>
          <p
            *ngIf="(summary.pumping | objectKeys).length === 0"
            [innerText]="'There are no pumping activities for {{dateDescription}}.' | translate:{
              dateDescription: changeDateForm.controls.date.value | relativeDate | async,
            } | uppercaseFirst"
          ></p>
          <ng-container *ngFor="let parentSummaryPair of summary.pumping | keyvalue">
            <p>
              <span
                [innerHTML]="'{{parentName}} pumped for <strong>{{howLong}}</strong> in total.' | translate: {
                  parentName: parentSummaryPair.key,
                  howLong: parentSummaryPair.value.total.time | secondsToDurationString | async,
                }"
              ></span>
              <ng-container *ngFor="let type of parentSummaryPair.value.time | keyvalue">
                <span
                  *ngIf="type.value"
                  [innerHTML]="' ' + ('<strong>{{howLong}}</strong> of that was from {{sideBreast}}.' | translate: {
                  howLong: $any(type.value) | secondsToDurationString | async,
                  sideBreast: breastIndexToString(stringNumberToBreastIndex($any(type.key))) | async,
                })"
                ></span>
              </ng-container>
            </p>
            <p *ngIf="parentSummaryPair.value.total.amount">
              <span
                [innerHTML]="'{{parentName}} pumped <strong>{{amount}}</strong> in total.' | translate: {
                  parentName: parentSummaryPair.key,
                  amount: parentSummaryPair.value.total.amount | convertVolume | unitToString | async,
                }"
              ></span>
              <ng-container *ngFor="let type of parentSummaryPair.value.amount | keyvalue">
                <span
                  *ngIf="type.value"
                  [innerHTML]="' ' + ('<strong>{{amount}}</strong> of that was from {{sideBreast}}.' | translate: {
                    amount: type.value | convertVolume | unitToString | async,
                    sideBreast: breastIndexToString(stringNumberToBreastIndex($any(type.key))) | async,
                  })"
                ></span>
              </ng-container>
            </p>
          </ng-container>
          <mat-divider></mat-divider>
        </mat-card-content>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</ng-template>
