<mat-spinner class="global" *ngIf="loading else content"></mat-spinner>

<ng-template #content>
  <form [formGroup]="changeDateForm">
    <mat-form-field>
      <mat-label>{{'Date' | translate}}</mat-label>
      <mat-datepicker #datePicker [touchUi]="isHandset | async"></mat-datepicker>
      <mat-datepicker-toggle matIconSuffix [for]="datePicker"></mat-datepicker-toggle>
      <input matInput formControlName="date" [matDatepicker]="datePicker" [matDatepickerFilter]="datePickerFilter"/>
    </mat-form-field>
  </form>
  <mat-tab-group>
    <mat-tab label="{{'Event list' | translate}}">
      <mat-card>
        <mat-card-header class="center">
          <mat-card-title>{{changeDateForm.controls.date.value | relativeDate | async | uppercaseFirst}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <ng-container *ngIf="activityStream.length else noActivities">
            <ng-container *ngFor="let activity of activityStream; let last = last">
              <app-activity-event [activity]="activity"></app-activity-event>
              <mat-divider *ngIf="!last"></mat-divider>
            </ng-container>
          </ng-container>
          <ng-template #noActivities>
            <p>{{"There are no events." | translate}}</p>
          </ng-template>
        </mat-card-content>
      </mat-card>
    </mat-tab>
    <mat-tab label="{{'By category' | translate}}">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{"Feeding" | translate}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-divider></mat-divider>
          <ng-container *ngIf="summary.feeding.total.bottle else noBottle">
            <p
              [innerHTML]="'{{dateDescription}} {{childName}} drank <strong>{{totalAmount}} {{unit}}</strong> from bottle.' | translate:{
              dateDescription: changeDateForm.controls.date.value | relativeDate:true | async,
              childName: childName | async,
              totalAmount: summary.feeding.total.bottle,
              unit: 'ml',
            }"
            ></p>
            <ng-container *ngFor="let type of summary.feeding.bottle | keyvalue">
              <p
                *ngIf="type.value"
                [innerHTML]="'<strong>{{amount}} {{unit}}</strong> of that was {{type}}.' | translate: {
                amount: type.value,
                unit: 'ml',
                type: bottleContentTypeToString($any(type.key)) | async,
              }"
              ></p>
            </ng-container>
          </ng-container>
          <ng-template #noBottle>
            <p
              [innerHTML]="'{{dateDescription}} {{childName}} didn\'t drink anything from bottle.' | translate:{
                dateDescription: changeDateForm.controls.date.value | relativeDate:true | async,
                childName: childName | async,
              }"
            ></p>
            <small
              *ngIf="isDateBeforeChildBirth === true"
              [innerText]="'(which is not that surprising given the fact that {{childName}} wasn\'t born yet)' | translate:{childName: childName | async}"
            ></small>
          </ng-template>
          <mat-divider></mat-divider>
          <ng-container *ngIf="summary.feeding.total.nursing else noNursing">
            <p
              [innerHTML]="'{{dateDescription}} {{childName}} was nursed for <strong>{{howLong}}</strong> in total.' | translate:{
              dateDescription: changeDateForm.controls.date.value | relativeDate:true | async,
              childName: childName | async,
              howLong: summary.feeding.total.nursing | secondsToDurationString | async,
            }"
            ></p>
            <ng-container *ngFor="let type of summary.feeding.nursing | keyvalue">
              <p
                *ngIf="type.value"
                [innerHTML]="'<strong>{{howLong}}</strong> of that was from {{sideBreast}}.' | translate: {
                howLong: $any(type.value) | secondsToDurationString | async,
                sideBreast: breastIndexToString(stringNumberToBreastIndex($any(type.key))) | async,
              }"
              ></p>
            </ng-container>
          </ng-container>
          <ng-template #noNursing>
            <p
              [innerHTML]="'{{dateDescription}} {{childName}} wasn\'t nursed.' | translate:{
                dateDescription: changeDateForm.controls.date.value | relativeDate:true | async,
                childName: childName | async,
              }"
            ></p>
          </ng-template>
          <mat-divider></mat-divider>
          <ng-container *ngIf="summary.feeding.total.solid else noSolidFood">
            <p
              [innerHTML]="'{{dateDescription}} {{childName}} ate solid food {{count}} times.' | translate:{
              dateDescription: changeDateForm.controls.date.value | relativeDate:true | async,
              childName: childName | async,
              count: summary.feeding.total.solid,
            }"
            ></p>
          </ng-container>
          <ng-template #noSolidFood>
            <p
              [innerHTML]="'{{dateDescription}} {{childName}} didn\'t eat any solid food.' | translate:{
                dateDescription: changeDateForm.controls.date.value | relativeDate:true | async,
                childName: childName | async,
              }"
            ></p>
          </ng-template>
          <mat-divider></mat-divider>
        </mat-card-content>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</ng-template>
