<mat-spinner class="global" *ngIf="loading else content"></mat-spinner>

<ng-template #content>
  <p *ngIf="!applications.length">
    {{"You have no applications connected to your account." | translate}}
  </p>
  <ng-container *ngIf="applications.length">
    <mat-card *ngFor="let app of applications">
      <mat-card-header>
        <mat-card-title>{{app.name}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{"This app has the following permissions:" | translate}}</p>
        <ul>
          <li *ngFor="let scope of app.scopes; let index = index">
            <strong>{{scope}}</strong> - {{scopes[index].description}}
          </li>
        </ul>
      </mat-card-content>
      <mat-card-footer>
        <mat-card-actions>
          <button mat-raised-button color="warn" (click)="revoke(app)">{{"Revoke" | translate}}</button>
          <a routerLink="/oauth/modify-app/{{app.identifier}}" mat-raised-button color="accent">{{"Modify permissions" | translate}}</a>
        </mat-card-actions>
      </mat-card-footer>
    </mat-card>
  </ng-container>
</ng-template>
