<div>
  <strong *ngIf="!fullDateTime">{{activity.startTime | timeOrNull}}: </strong>
  <strong *ngIf="fullDateTime">{{activity.startTime | datetimeOrNull}}: </strong>
  <span *ngIf="activity.activityType === ActivityType.FeedingBottle">
    <span
      [innerText]="'{{childName}} drank {{amount}} of {{foodType}} from a bottle.' | translate: {
        childName: activity.childName,
        amount: activity['amount']! | convertVolume | unitToString | async,
        foodType: bottleContentTypeToString($any(activity['bottleContentType'])) | async,
      }"
    ></span>
    <span *ngIf="activity.note !== null">
      ({{"note" | translate}}: {{activity.note}})
    </span>
    <a routerLink="/activities/feeding/edit/{{activity.id}}"><mat-icon class="small block ml-1">edit</mat-icon></a>
  </span>
  <span *ngIf="activity.activityType === ActivityType.FeedingBreast">
    <span
      [innerText]="'{{childName}} drank from {{sideBreast}} for {{howLong}}.' | translate: {
        childName: activity.childName,
        sideBreast: breastIndexToString(stringNumberToBreastIndex($any(activity['breast']))) | async,
        howLong: activity.startTime | dateDiff:$any(activity.endTime) | secondsToDurationString | async,
      }"
    ></span>
    <span *ngIf="activity.note !== null">
      ({{"note" | translate}}: {{activity.note}})
    </span>
    <a routerLink="/activities/feeding/edit/{{activity.id}}"><mat-icon class="small block ml-1">edit</mat-icon></a>
  </span>
  <span *ngIf="activity.activityType === ActivityType.FeedingSolid">
    <span *ngIf="!activity['amount']"
      [innerText]="'{{childName}} ate solid food.' | translate: {
        childName: activity.childName,
      }"
    ></span>
    <span *ngIf="activity['amount']"
      [innerText]="'{{childName}} ate {{amount}} of solid food.' | translate: {
        childName: activity.childName,
        amount: activity['amount']! | convertWeight | unitToString | async,
      }"
    ></span>
    <span *ngIf="activity.note !== null">
      ({{"note" | translate}}: {{activity.note}})
    </span>
    <a routerLink="/activities/feeding/edit/{{activity.id}}"><mat-icon class="small block ml-1">edit</mat-icon></a>
  </span>
  <span *ngIf="activity.activityType === ActivityType.Diapering">
    <span
      [innerText]="'{{childName}} had a diaper changed.' | translate: {
        childName: activity.childName,
      }"
    ></span>
    <span *ngIf="wetPoopyToBool(activity['wet']) && wetPoopyToBool(activity['poopy'])">
      {{"It was both wet and pooped." | translate}}
    </span>
    <span *ngIf="wetPoopyToBool(activity['wet']) && !wetPoopyToBool(activity['poopy'])">
      {{"It was wet." | translate}}
    </span>
    <span *ngIf="!wetPoopyToBool(activity['wet']) && wetPoopyToBool(activity['poopy'])">
      {{"It was poopy." | translate}}
    </span>
    <span *ngIf="!wetPoopyToBool(activity['wet']) && !wetPoopyToBool(activity['poopy'])">
      {{"It was dry." | translate}}
    </span>
    <span *ngIf="activity.note !== null">
      ({{"note" | translate}}: {{activity.note}})
    </span>
    <a routerLink="/activities/diapering/edit/{{activity.id}}"><mat-icon class="small block ml-1">edit</mat-icon></a>
  </span>
  <span *ngIf="activity.activityType === ActivityType.Pumping">
    <span
      *ngIf="activity['amount'] === null"
      [innerText]="'{{parentName}} pumped from {{sideBreast}}.' | translate: {
        parentName: activity['parentName'],
        sideBreast: breastIndexToString(stringNumberToBreastIndex($any(activity['breast']))) | async,
      }"
    ></span>
    <span
      *ngIf="activity['amount'] !== null"
      [innerText]="'{{parentName}} pumped {{amount}} from {{sideBreast}}.' | translate: {
        parentName: activity['parentName'],
        sideBreast: breastIndexToString(stringNumberToBreastIndex($any(activity['breast']))) | async,
        amount: activity['amount']! | convertVolume | unitToString | async,
      }"
    ></span>
    <span *ngIf="activity.note !== null">
      ({{"note" | translate}}: {{activity.note}})
    </span>
    <a routerLink="/activities/pumping/edit/{{activity.id}}"><mat-icon class="small block ml-1">edit</mat-icon></a>
  </span>
  <span *ngIf="activity.activityType === ActivityType.Sleeping">
    <span
      [innerText]="'{{childName}} has slept for {{howLong}}.' | translate:{
        childName: activity.childName,
        howLong: activity.startTime | dateDiff:$any(activity.endTime) | secondsToDurationString | async,
      }"
    ></span>
    <span *ngIf="activity.note !== null">
      ({{"note" | translate}}: {{activity.note}})
    </span>
    <a routerLink="/activities/sleeping/edit/{{activity.id}}"><mat-icon class="small block ml-1">edit</mat-icon></a>
  </span>
  <span *ngIf="activity.activityType === ActivityType.Weighing">
    <span
      [innerText]="'{{childName}} was weighed and now weighs {{weight}}.' | translate:{
        childName: activity.childName,
        weight: activity['weight']! | convertWeight | unitToString | async
      }"
    ></span>
    <a routerLink="/activities/weighing/edit/{{activity.id}}"><mat-icon class="small block ml-1">edit</mat-icon></a>
  </span>
  <span *ngIf="activity.activityType === ActivityType.Temperature">
    <span
      [innerText]="'{{childName}} had a temperature taken; it was {{temperature}}.' | translate:{
        childName: activity.childName,
        temperature: activity['temperature']! | convertTemperature | unitToString | async
      }"
    ></span>
    <a routerLink="/activities/temperature/edit/{{activity.id}}"><mat-icon class="small block ml-1">edit</mat-icon></a>
  </span>
  <span *ngIf="activity.activityType === ActivityType.Length">
    <span
      [innerText]="'{{childName}}\'s length was measured as {{length}}.' | translate:{
        childName: activity.childName,
        length: activity['length']! | convertLength | unitToString | async
      }"
    ></span>
    <a routerLink="/activities/length/edit/{{activity.id}}"><mat-icon class="small block ml-1">edit</mat-icon></a>
  </span>
  <span *ngIf="activity.activityType === ActivityType.Milestone">
    <span *ngIf="activity['predefinedMilestone'] !== NamedMilestone.Custom">
      {{milestoneToDescription($any(activity['predefinedMilestone']), activity.childName!) | async}}
    </span>
    <span *ngIf="activity['predefinedMilestone'] === NamedMilestone.Custom">
      {{milestoneToDescription(NamedMilestone.Custom, activity.childName!, activity['milestoneName']) | async}}
    </span>
    <span *ngIf="activity.note !== null">
      ({{"note" | translate}}: {{activity.note}})
    </span>
    <a routerLink="/activities/milestone/edit/{{activity.id}}"><mat-icon class="small block ml-1">edit</mat-icon></a>
  </span>
</div>
