<div>
  <strong>{{activity.startTime | timeOrNull}}: </strong>
  <span *ngIf="activity.activityType === ActivityType.Feeding">
          <span
            *ngIf="activity['type'] === 'bottle'"
            [innerText]="'{{childName}} drank {{amount}} {{unit}} of {{foodType}} from bottle.' | translate: {
              childName: activity.childName,
              amount: activity['amount'],
              unit: 'ml',
              foodType: bottleContentTypeToString($any(activity['bottleContentType'])) | async,
            }"
          ></span>
          <span *ngIf="activity.note !== null">
            ({{"note" | translate}}: {{activity.note}})
          </span>
        </span>
</div>
